.campers {
  display: flex;
  flex-direction: row;
  gap: 64px;
  padding: 120px 64px 52px 64px;
}

.campersList {
  display: flex;
  flex-direction: column;
}

.campersList > div {
  margin-bottom: 32px;
}

.campersList > div:last-child {
  margin-bottom: 0;
}

.moreBtn {
  border: 1px solid var(--gray-light);
  margin: 8px auto 0;
  width: 145px;
  height: 56px;
  background: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
  transition: border 0.2s ease;
}

.moreBtn:hover {
  border: 1px solid var(--button-hover);
  background: none;
}
