.header {
  width: 100%;
  height: 72px;
  border-bottom: 1px solid var(--badges);
  padding: 0 64px;
  background: var(--inputs);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  flex: 0 0 auto;
}

.logoSvg {
  width: 136px;
  height: 16px;
}

.navCenter {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.active {
  color: var(--button-hover);
}
